* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* bacground-img */
.rasm-glav {
    background-image: url("image/fon.jpg");

    background-repeat: no-repeat;
   
    height: 750px;
    background-attachment: fixed;
    background-size: 100%;
 
}
#about-glav{
    height: auto;
}
#vrac-rasm {
    height: 700px;
}

#xizmat-rasm {
    height: auto;
}

/* logo */
.logo-glav img {
    width: 150px;
}

.menu-web {
    display: flex;
    justify-content: space-around;
}

.menu ul {
    display: flex;
    left: 0;
    right: 0;
    padding: 20px;
}

.menu ul li {
    list-style-type: none;
}

.menu ul li a {
    padding: 35px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.menu ul li a:hover {
    color: red;
    transition: 0.3s;
}
.mob-menu{
    display: none;
}
.lunge a {
    text-decoration: none;
    padding: 2px;
    color: white;
}

#ru a:hover {
    color: red;
    transition: 0.3s;
}

#en a:hover {
    color: red;
    transition: 0.3s;
}

/* center-page */

.center-page {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 10%;

}

.center-page div {
    padding: 20px;
}

#tall {
    font-size: 25px;
}

#bold {
    font-size: 25px;
}

#play img {
    width: 60px;
    cursor: pointer;
}

.video-1 {
    display: none;
}

.video-1 video {
    margin: 0 5%;
    width: 90%;
    height: 80%;
    z-index: 2;
    position: absolute;
    margin-top: 30px;
}

#play-menu {
    display: flex;
    align-items: center;
}

.x p {
    cursor: pointer;
    padding: 20px;
    justify-content: flex-end;
    display: flex;
    font-size: 30px;
}

/* Ñenter-button */
#center-button {
    margin: 0% 60%;
    width: 23%;
    height: 70px;
    border: 1px solid white;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 18px;
}

#center-button:hover {
    background-color: white;
    color: #3473D5;
    transition: 0.5s;
    border: 0px;
}

/* center-info */

.center-info-txt {
    border-radius: 5px;
    margin: 70px;
    margin-top: -210px;
    width: 23%;
    height: 300px;
    background-color: white;
    color: red;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 0px 50px 10px black;
   position: fixed;
    z-index: 1;


}

.center-info-txt p {
    margin: 30px;
}

/* page3 */
.page-3 {
    display: flex;
    padding: 20px 100px;
    justify-content: flex-start;
}

#page-3-1 {
    height: 350px;
    width: 25%;
    background-color: red;

}

#page-3-1 h4 {
    margin: 50px 50px 0;
    color: white;
    font-size: 25px;
}

#page-3-2 {
    width: 50%;

}

#page-3-2 h4 {
    margin: 50px;
    color: red;
    font-size: 25px;
}

#page-3-2 p {
    font-size: 18px;
    color: gray;
    margin: 0 30px 30px;
}

/* page-foto */
.page-foto {
    justify-content: center;
    display: flex;
    margin-top: -120px;
}

#foto-page img:hover {
    filter: brightness(0.5);
    transition: 0.3s;
}

#foto-page img {
    padding: 20px;
    width: 400px;
    height: 350px;
    border-radius: 40px;
}

#foto-page p {
    text-align: center;
    font-size: 20px;
}

/* PAGE-ustiga */
#page-foto-ustiga {
    width: 20%;
    height: 200px;
    background-color: white;
    margin-top: -457px;
    margin-left: 100px;

    position: absolute;
}

#page-foto-ustiga h4 {
    padding: 20px 0 0;
    text-align: center;
    font-size: 20px;
}

#page-foto-ustiga p {
    padding: 30px;
}

/* page4 */
.page-4 {
    display: flex;
    width: 80%;

    margin: 5% 10%;
    margin-top: -120px;
    box-shadow: 0 0 20px 5px black;
}

.page-4 div {
    padding: 30px;
}

.f4 img {
    width: 80px;
}

.f4-4 img {
    width: 80px;
}

.f4-none-web img {
    display: none;
    width: 80px;
}

#a01 {
    background-color: white;
    color: #34bfd5;
    width: 100%;
    font-size: 20px;
    border: 1px solid #34bfd5;
}

#a011 {
    font-size: 20px;
    background-color: white;
    color: #34bfd5;
    width: 100%;
    height: 380px;
    border: 1px solid #34bfd5;
}

#a02 {
    font-size: 20px;
    color: white;
    width: 100%;
    background-color: #34bfd5;
    border: 1px solid white;
}

#a022 {
    font-size: 20px;
    color: white;
    width: 100%;
    background-color: #34bfd5;
    border: 1px solid white;
}

/* klent-primium */
#kelnt-primium {
    align-items: flex-start;
    display: flex;
    padding: 40px;

}

.blok-1 {
    box-shadow: 0 0 50px 20px black;
    margin-top: -200px;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 25%;
    height: 180px;
    background-color: red;

}

.blok-2 {
    box-shadow: 0 0 20px 3px black;
    background-color: white;
    color: red;
    width: 45%;
    height: 450px;
    border: 1px solid red;
}

.blok-2 h4 {
    padding: 70px 70px 30px 70px;
    font-size: 22px;
}

.blok-2 p {
    padding: 10px 70px;
}

.blok-3 {
    box-shadow: 0 0 20px 3px black;
    background-color: white;
    color: red;
    border: 1px solid red;
    height: 450px;
    width: 22.5%;
}

.blok-3 p {
    text-align: center;
    padding: 50px;
}

.blok-3 h1 {
    text-align: center;
    font-size: 30px;
}

.blok-3 li {
    margin: 0px 0 0px 80px;
    padding: 20px;
    background-color: red;
    width: 55%;
    height: 60px;
    border-radius: 30px;
}

.blok-3 li a {

    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

/* hr-menedjer */
.hr-menedjer img {
    margin-left: 34px;
    position: absolute;
    width: 28%;
    height: auto;
    margin-top: -489px;
}

/* footer */
footer {
    background-color: red;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;

}

.footer span i {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    margin-left: 60px;
}

.footer span h3 {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: white;
}

.footer span p {
    color: white;
    padding: 10px;
    text-align: center;
}

.lokation {
    font-size: 20px;
}

/* web-icon */
.web-icon {
    text-align: center;
    color: white;
    padding: 20px;
}

.web-icon span {
    padding: 20px;
}

/* bottom menu */
.buttom-menu {
    height: 100px;
}

#buttom-menu {
    display: flex;
    justify-content: space-evenly;
}

#buttom-menu ul {
    display: flex;
}

#buttom-menu ul li {
    list-style-type: none;
    padding: 35px;
}

#buttom-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#buttom-menu ul li a:hover {
    color: red;
    transition: 0.3s;
}

/* info */

#about-none{
    display: none;
}



.info23 {
    background-color: #3473D5;
    color: white;
  
    
}

.info24 {

    color: #3473D5;
}


#log1 img{
    height: 350px;
    width: 100%;
}
#log1 img:hover{
    transition: 0.5s;
    filter: brightness(0.5);
}




/* vrac body */
#vrac-none{
    display: none;
}
.body-page {
    display: flex;
    justify-content: center;
   
}

.body-page-1 {
    background-color: white;
    width: 30%;
    border: 1px solid grey;
    color: #3473D5;
    box-shadow: 0 0 50px 10px black;
}

.body-page-1 img {
    width: 150px;
   
}

.body-page-1 h1 {
    text-align: center;
    padding: 20px;
    color: #3473D5;
}

.body-page-1 li {
    padding: 0px;
    margin: 20px;
}

.body-page-1 a {
    text-decoration: none;
    color: #3473D5;
}

#left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* xizmatlar */
.xizmatlar {
    color: #3473D5;
    background-color: white;
    height: auto;
    width: 90%;
    margin: 0 5%;
    box-shadow: 0 0 50px 10px black;
}

.xizmatlar h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

#xizmatlar-p p {
    text-align: center;
    font-size: 20px;
}

/* xizmat-menu */
#xizmatlar {
    display: flex;
    justify-content: space-around;
}

.xizmat-menu h4 {
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

.xizmat-menu p {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: left;

}

.xizmat-icon i {
    font-size: 20px;
    padding: 20px;
}

#info-a p {
    color: red;

}
.xz img{
    width: 80px;

}
/* down-1 */
.down-1,
.down-2,
.down-3,
.down-4,
.down-5 {
    display: none;
    color: grey;
    font-size: 10px;

}

.lunge {
    text-align: center;
}

.web-site {
    text-align: center;
    font-size: 12px;
}

* { box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


.container1 {
    margin: 0 10%;
  display: flex;
  width: 80%;
  height: 630px;
  background-color: white;
  box-shadow: 0 0 50px 10px;
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}
.form-image img{
    width: 200px;
    margin: 0 20% 10%;
}

.right {
    
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url("image/zal.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.right span h1{
    margin-top: 250px;
    text-align: center;
    font-size: 30px;
    color: white;
}



.header > h2 {
  margin: 0;
  color: #4f46a5;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,.4);
}

.form {
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 66px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #0f7ef1;
}

.form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

#animation {
    animation-name: move;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }
  #animation2 {
    animation-name: move;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }
.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}







#menu-bar {
    position: fixed;
    z-index: 20;
    margin-top: -30px;
    width: 80%;
    text-align: center;
}

.menu-mob {
    
    padding: 30px;
    height: 500px;
    background-color: #0097ff;
    z-index: 20;
}
.menu-mob li{
    padding: 15px;
}
.menu-mob a {
    text-decoration: none;
    color: white;
  
   font-size: 20px;
}

.menu-mob p {
    margin: 40px;
    color: white;

}

.close-menu {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.close-menu span {
    font-size: 20px;
}
.menu-mob img{
    width: 150px;
}

